---
import { Image } from 'astro:assets'

import heroImgSolid from '~/assets/hero-img-solid.png'
import heroImgBlurred from '~/assets/hero-img-blurred.png'
import mouseLine from '~/assets/mouse-line.svg?raw'
---

<!-- Hero Section -->
<section class="animate-fade-in relative h-full w-full">
	<div
		aria-hidden={true}
		id="hero-image"
		class="relative z-20 mt-36 flex h-[30dvh] w-full items-end md:mt-40 md:h-[35dvh] lg:mt-16 xl:absolute xl:bottom-0 xl:left-full xl:mt-12 xl:h-[664px] xl:-translate-x-[45%]"
	>
		<Image
			style={{ '--_index': 4 }}
			class="relative -top-[50%] -z-10 inline-block h-full max-h-[629px] w-full max-w-[280px] md:-top-[30%] lg:-top-[20%]"
			src={heroImgSolid}
			alt=""
		/>
		<div
			style={{ '--_index': -1 }}
			class="squircle relative -ml-[15%] inline-block aspect-[9/16] h-full max-h-[479px] w-full max-w-[280px] translate-y-full animate-float border border-white border-opacity-30 bg-white bg-opacity-50 backdrop-blur-2xl"
		>
		</div>

		<Image
			style={{ '--_index': 2 }}
			class="relative -top-[50%] -z-10 -ml-12 inline-block h-full max-h-[670px] w-full max-w-[278px] animate-float md:-top-[30%] lg:-top-[20%]"
			src={heroImgBlurred}
			alt=""
		/>
		<div
			style={{ '--_index': 1 }}
			class="squircle relative -ml-[15%] inline-block aspect-[9/16] h-full max-h-[662px] w-full max-w-[280px] animate-float border border-white border-opacity-30 bg-white/50 backdrop-blur-2xl"
		>
		</div>
	</div>

	<article>
		<h1 id="hero-title" class="text-7xl font-black tracking-tight text-neutral-900 lg:text-9xl">
			<span class="animate-fade-in-down inline-block will-change-transform">jamstack</span>
			<span
				class="animate-fade-in-down inline-block bg-hero-gradient bg-clip-text bg-right-top text-7xl font-black tracking-wider text-transparent opacity-0 will-change-transform [animation-delay:0.2s] lg:text-9xl"
			>
				101
			</span>
		</h1>
		<p
			id="hero-description"
			class="animate-fade-in-down mb-24 mt-10 max-w-[549px] text-lg font-light leading-9 tracking-tight text-neutral-500 opacity-0 will-change-transform [animation-delay:0.4s] lg:ml-16"
		>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Arcu augue massa, tincidunt proin
			nunc viverra tristique tempor, ipsum. At lectus vel pretium tempor ut dui vivamus sit.
		</p>
	</article>

	<div
		class="animate-fade-in-down relative ml-[30%] w-fit opacity-0 will-change-transform [animation-delay:0.6s]"
		set:html={mouseLine}
	/>
</section>

<style>
	.animate-float {
		animation-delay: calc(var(--_index) * 500ms);
	}
</style>
