---
import Layout from '~/layouts/Layout.astro'
---

<Layout title="Monogram FE Challenge">
	<main class="content-grid overflow-x-clip pt-0 lg:pt-36">
		<h1>Monogram FE Challenge</h1>
	</main>
</Layout>
